@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

* {
  width: 1440px;
  margin: 0;
  padding: 0;
}

.mulish {
  font-family: 'Mulish', sans-serif;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
}

